[submodule "common"]
	path = third_party/moonlight-common-c
	url = https://github.com/zoeyjodon/moonlight-common-c.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/zoeyjodon/openssl.git
[submodule "third_party/SDL_GameControllerDB"]
	path = third_party/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "third_party/libexpat"]
	path = third_party/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "third_party/FFmpeg_for_3DS"]
	path = third_party/FFmpeg_for_3DS
	url = https://github.com/Core-2-Extreme/FFmpeg_for_3DS.git
